In [16]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# Generate synthetic data
np.random.seed(42)
n_samples = 2000
fraud_ratio = 0.03
n_frauds = int(n_samples * fraud_ratio)

In [17]:
data = {
    'TransactionID': np.arange(1, n_samples + 1),
    'CustomerID': np.random.randint(1000, 1100, n_samples),
    'TransactionDateTime': [datetime.now() - timedelta(seconds=int(x)) for x in np.random.randint(1, 100000, n_samples)],
    'TransactionAmount': np.round(np.random.uniform(1, 1000, n_samples), 2),
    'MerchantID': np.random.randint(2000, 2100, n_samples),
    'MerchantCategory': np.random.choice(['Electronics', 'Grocery', 'Clothing', 'Deisel', 'Furniture'], n_samples),
    'TransactionLocation': np.random.choice(['New York', 'Los Angeles', 'Boston', 'Miami', 'San Francisco'], n_samples),
    'CardType': np.random.choice(['Visa', 'MasterCard', 'AMEX'], n_samples),
    'DeviceType': np.random.choice(['Mobile', 'Desktop', 'ATM'], n_samples),
    'PreviousTransactionAmount': np.round(np.random.uniform(1, 1000, n_samples), 3),
    'TransactionChannel': np.random.choice(['Online', 'In-store'], n_samples),
    # 'FraudLabel': [1 if i < n_frauds else 0 for i in range(n_samples)]
}

In [18]:
for i,j in data.items():
    print(f'{i}',len(j))

TransactionID 2000
CustomerID 2000
TransactionDateTime 2000
TransactionAmount 2000
MerchantID 2000
MerchantCategory 2000
TransactionLocation 2000
CardType 2000
DeviceType 2000
PreviousTransactionAmount 2000
TransactionChannel 2000

In [19]:

df =pd.DataFrame(data)
df['TransactionID'] = [x+200000 for x in df['TransactionID']]

df.head()
# Save the dataset to a CSV file

,TransactionID,CustomerID,TransactionDateTime,TransactionAmount,MerchantID,MerchantCategory,TransactionLocation,CardType,DeviceType,PreviousTransactionAmount,TransactionChannel
0,200001,1051,2024-07-13 02:30:43.240690,549.43,2070,Electronics,New York,Visa,ATM,984.483,In-store
1,200002,1092,2024-07-12 22:57:53.240690,220.05,2001,Deisel,Boston,Visa,Mobile,557.399,Online
2,200003,1014,2024-07-13 02:46:23.240690,34.64,2055,Grocery,San Francisco,MasterCard,Desktop,661.457,Online
3,200004,1071,2024-07-12 16:50:23.240690,215.41,2059,Clothing,Los Angeles,AMEX,Mobile,333.438,Online
4,200005,1060,2024-07-12 11:00:25.240690,416.71,2022,Grocery,Boston,MasterCard,ATM,382.733,In-store

In [20]:
df.to_csv('credit_card_fraud_dataset_test.csv', index=False)

print("Dataset created and saved to 'credit_card_fraud_dataset_test.csv'")

Dataset created and saved to 'credit_card_fraud_dataset_test.csv'